<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="whidth=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Perspectiva Genero</title>
</head>
<body>
    <nav>
        <h1><a href="/">Titulo del sitio</a></h1>
    </nav>
